# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CODE\PythonProject01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea/
venv/
